body{
  background: url("backgound.JPG");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}


h1{
  font-size: 80px;
  text-align: center;
  background-image: url(backh.jpg);
  width: 30%;
  margin: 0 auto;
  background-size: cover;
  border-radius: 25px;
}

h2{
  text-align: center;
  font-size: 50px;
  border-radius: 25px;
  width: 35%;
  margin: 0 auto;
  background-color: whitesmoke;
  margin-top: 100px;
  margin-bottom: 150px;
}

.img{
  width: 110%;
  height: 103%;
  margin-left: -5%;
  margin-top: -2%;
}

#definition{
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 25px;
}

#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  background-color: whitesmoke;
}

.artiste{
  width: 300px;
  height: 350px;
  border: solid blue 3px;
}

.container2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 150px;
  background-color: whitesmoke;
  border-radius: 25px;
}

.oeuvre{
  width: 400px;
  height: 400px;
}
.images{
  width: 400px;
  height: 400px;
}
